<header class="p-2 bg-dark text-white"> 
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a href="/" class="navbar-brand d-flex align-items-center mb-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/" class="nav-link px-2 text-white">Home</a>
          </li>
          {% if session['user_id'] and session['user_role']=='customer' %}
          <li class="nav-item">
            <a href="/order_history" class="nav-link px-2 text-white">Order History</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-white">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-white">About</a>
          </li>
        </ul>

        <div class="text-end">
          <button type="button" onclick="window.location.href='/cart';" class="btn btn-outline-light me-2">Cart</button>

          {% if session['user_id'] and session['user_role']=='customer' %}
          Hi {{ session['user_name'] }}
          
          <button type="button" onclick="window.location.href='/user_logout';" class="btn btn-outline-light me-2">Logout</button>
          {% else %}
          <button type="button" onclick="window.location.href='/user_login';" class="btn btn-outline-light me-2">Login</button>
          <button type="button" onclick="window.location.href='/user_signup';" class="btn btn-warning">Sign-up</button>
          <a href="/admin_login" target="_blank" class="btn btn-primary">Admin </a>
          {% endif %}

         {# <div class="dropdown text-end">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="Profile Picture" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="/new_project">New project...</a></li>
              <li><a class="dropdown-item" href="/settings">Settings</a></li>
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/user_logout">Sign out</a></li>
            </ul>
          </div>#}
          
        </div>
      </div>
    </nav>
  </div>
</header>


